<% layout('layout/boilerplate') %>
<div class="row mt-3">
  <div class="col-md-8 offset-3">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title"><%= vitamin.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= vitamin.dosage %></h6>
        <p class="card-text"><%= vitamin.company %></p>

        <table class="table table-success table-striped">
          <tr>
            <th>Constituent</th>
            <th>Strength</th>
            <th>% Eqv</th>
            <th>Delete</th>
          </tr>
          <% for (constituent of vitamin.constituents) { %>

          <tr>
            <td><%= constituent.constituent %></td>
            <td><%= constituent.strength %></td>
            <td><%= constituent.eqv %></td>
            <td>
              <form
                action="/vitamins/<%= vitamin.id %>/constituent/<%=constituent.id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">delete</button>
              </form>
            </td>
          </tr>
          <% } %>
        </table>

        <ul>
          <% for (other of vitamin.others) { %>
          <li><%= other.name %></li>
          <% } %>
        </ul>

        <a
          href="/vitamins/<%= vitamin.id %>/constituent/new"
          class="btn btn-success"
          >Add
        </a>

        <a href="/vitamins/<%= vitamin.id %>/edit" class="btn btn-dark">Edit</a>
        <form
          action="/vitamins/<%= vitamin._id %>?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <button class="btn btn-danger">Delete</button>
        </form>

        <a href="/vitamins/<%= vitamin.id %>/others/new" class="btn btn-success"
          >Add other
        </a>
      </div>
    </div>
  </div>
</div>
